<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head(~{::title})}">
    <title th:text="#{nav.home}"></title>
</head>
<body>
    <nav th:replace="~{fragments/nav}"></nav>


    <main th:with="userSession=${session.get('sid')}">
        <section th:if="${userSession == null}">
            <h1 th:text="#{home.introduce}">소개</h1>
            <p class="mb-4" th:text="#{home.description1}"></p>
            <p class="mb-4" th:text="#{home.description2}"></p>
            <p th:text="#{home.description3}"></p>
        </section>
        <section th:if="${userSession != null}" class="flex flex-col gap-4">
            <div><h1>인터셉터</h1>
                <p>인터셉터를 이용해 사용자의 요청이 요청 권한이 있는지 세션을 통해 필터링 합니다.</p></div>
            <div><h1>스프링 부트와 타임리프 통합</h1>
                <p>타임리프를 적극 활용해 세션의 유무로 특정 엘리먼트들의 렌더링을 결정합니다.</p></div>
            <div>
                <h1>CSS 프레임워크</h1>
                <p>CSS 프레임워크인 <span class="code">TailwindCSS</span>의 기능들을 활용해서, CSS 중복을 제거하고 재사용 가능한 CSS 컴포넌트 클래스를
                    사용합니다. 이를 통해 버튼 디자인이나 HTML Form 태그의 디자인 등을 손쉽게 재사용 할 수 있습니다.
                </p>
            </div>


        </section>
    </main>

    <nav th:replace="~{fragments/footer}"></nav>
</body>
</html>