<footer th:fragment="footer">
    <hr class="my-8">
    <div>
        <p th:text="|&copy; #{footer.description}|">2024 Jay's Portfolio.</p>
        <div class="mt-4">
            <a target="_blank" href="https://github.com/choiexe1" class="text-white hover:text-gray-400 mr-4">Github</a>
            <a target="_blank" href="mailto:choiexe1@gmail.com" class="text-white hover:text-gray-400 mr-4">Email</a>
            <a target="_blank" href="https://devjay.blog" class="text-white hover:text-gray-400">Blog</a>
        </div>
        <p class="mt-4 text-gray-400">HTML, CSS, Java, Spring Frameworks, Thymeleaf, TailwindCSS</p>
    </div>
</footer>
