<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head(~{::title})}">
    <!--  타이틀 설정 필수  -->
    <title th:text="#{error.page}"></title>
</head>
<body>
    <main class="flex items-center justify-center text-center">
        <div class="max-w-xl w-full space-y-6">
            <h1 class="text-4xl font-bold mb-4 text-red-500">
                HTTP <span th:text="${status}">상태 코드</span>
                <span th:text="#{error.page}">에러 페이지</span>
            </h1>

            <p class="text-lg mb-4" th:text="${timestamp}">에러 시각</p>

            <p th:if="${status} == 404" class="text-xl text-red-500 font-medium">
                <span th:text="#{error.404}"></span>
            </p>

            <p th:if="${status} == 500" class="text-xl text-red-500 font-medium">
                <span th:text="#{error.500}"></span>
            </p>

            <!-- 홈으로 가는 링크 -->
            <div>
                <a href="/" class="btn">
                    <span th:text="#{goto.home}">홈으로 이동</span>
                </a>
            </div>
        </div>
    </main>
</body>
</html>
